{% set title = 'Attendance' %}
{% extends 'views/_layout.html' %}
{% block content %}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Attendance</h4> </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <a href="#" id="print_a" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Print Attendance</a>
        <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li class="active">Attendance</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- row -->
<div class="row">

  <div class="col-sm-12">
    <div class="white-box">
      <div class="table-responsive">
        <table id="myTable" class="table table-striped">
          <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Name</th>
                <th>GradePoint</th>
                <th>Email</th>
                <th>ReferenceNo</th>
            </tr>
          </thead>
          <tbody>
          {% for a in token.data %}
            <tr>
                <td>{{a.day}}/{{monthNames[a.month]}}/{{a.year}}</td>
                <td>{{a.time}}</td>
                <td>{{a.fullname}}</td>
                <td>{{a.gradepoint}}</td>
                <td>{{a.email}}</td>
                <th>{{a.att_id}}</th>
            </tr>
          {% endfor%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
      $('#myTable').DataTable({
        "order": [[ 5, "desc" ]]
      });
      $('#print_a').click(function(){
          swal('System Info','print function coming soon.....','info');
      });
  });
</script>

{% endblock %}
