{% set title = 'Reports' %}
{% extends 'views/_layout.html' %}
{% block content %}

<div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Reporting</h4> </div>
                        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12"> <!--<a href="#" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">Generate Report</a>-->
                        <ol class="breadcrumb">
                            <li><a href="#">Dasboard</a></li>
                            <li class="active">Report</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box printableArea">
                            <h3><b>INVOICE</b> <span class="pull-right">#885001</span></h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="pull-left"> <address>
                                            <h3> &nbsp;<b class="text-danger">Moringa School</b></h3>
                                            <p class="text-muted m-l-5">Ngong Lane,
                                                <br/> Nairobi,
                                                <br/> Kenya</p>
                                        </address> </div>
                                    <div class="pull-right text-right"> <address>
                                            <h3>To,</h3>
                                            <h4 class="font-bold">Julius Momnang</h4>
                                            <p class="text-muted m-l-30">132 Road 24,
                                                <br/> Federal Housing Estate,
                                                <br/> Agip, Port Harcourt,
                                                <br/> Nigeria - 500271</p>
                                            <p class="m-t-30"><b>Transaction Date :</b> <i class="fa fa-calendar"></i> 3rd July 2017</p>
                                            <p><b>Due Date :</b> <i class="fa fa-calendar"></i> 29th July 2017</p>
                                        </address> </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="table-responsive m-t-40" style="clear: both;">>
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Description</th>
                                                    <th class="text-right">Quantity</th>
                                                    <th class="text-right">Unit Cost</th>
                                                    <th class="text-right">Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">1</td>
                                                    <td>Moringa Backend API</td>
                                                    <td class="text-right"> 1 </td>
                                                    <td class="text-right"> $5000 </td>
                                                    <td class="text-right"> $5000 </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">2</td>
                                                    <td>MongoDB Atlas Susbcription</td>
                                                    <td class="text-right"> 1 </td>
                                                    <td class="text-right"> $120 </td>
                                                    <td class="text-right"> $120 </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">3</td>
                                                    <td>Moringa Core Webservice</td>
                                                    <td class="text-right"> 1 </td>
                                                    <td class="text-right"> $1200 </td>
                                                    <td class="text-right"> $1200 </td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center">4</td>
                                                    <td>Service Charge</td>
                                                    <td class="text-right"> 1 </td>
                                                    <td class="text-right">$500 </td>
                                                    <td class="text-right"> $500 </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="pull-right m-t-30 text-right">
                                        <p>Sub - Total amount: $6,820</p>
                                        <p>vat (5%) : $341 </p>
                                        <hr>
                                        <h3><b>Total :</b> $7,161</h3> </div>
                                    <div class="clearfix"></div>
                                    <hr>
                                    <div class="text-right">
                                        <button class="btn btn-danger" type="submit"> Proceed to payment </button>
                                        <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .row -->
                <!-- /.row -->

<script>
    $(document).ready(function () {
        $("#print").click(function () {
            var mode = 'iframe'; //popup
            var close = mode == "popup";
            var options = {
                mode: mode
                , popClose: close
            };
            $("div.printableArea").printArea(options);
        });
        swal('System Info', 'this feature is coming soon!', 'warning');
    });
</script>
{% endblock %}
