{% set title = 'Tasks' %}
{% extends 'views/_layout.html' %}
{% block content %}

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">User Tasks </h4> </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        {% if arr.role == 'Admin' %}
          <a href="#" class="btn btn-danger pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light" data-toggle="modal" data-target="#taskModal">Add Task</a>
        {% endif %}
        <ol class="breadcrumb">
            <li><a href="#">Dashboard</a></li>
            <li class="active">Tasks</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- .row -->


<div class="row">
    {% for task in token.data %}
    <!-- /.usercard -->
    <div class="col-md-4 col-sm-4">
        <div class="white-box">
            <div class="row">
                <div class="col-md-12">
                    <h3> {{task.firstname}} {{task.lastname}}</h3>
                    <h3 class="box-title m-b-0">Course: {{task.courses.course}}-{{task.courses.description}}</h3> <small>GradePoint: {{task.courses.gradepoint}}</small>
                    <p> Instructions: {{task.description}} </p>
                    <h3 class="box-title m-b-0">Due Date: {{task.DueDate.toString().substring(0, 10)}}</h3>
                </div>
                <form method="put">
                  <input type="text" value="{{task.taskId}}" name="taskId" style="display: none" id="_taskId"/>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary">Details</button>
                      {% if arr.role == 'Student' %}
                        <button type="submit" class="btn btn-default">Submit Task</button>
                      {% endif %}
                  </div>
                </form>
            </div>
        </div>
    </div>

      {% endfor %}
</div>
<!-- /.row -->

<!-- modal-->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel1">Task Details</h4> </div>
            <div class="modal-body">
                <form method="post">
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Course:</label>
                        <select class="form-control" id="course" name="course" required>
                          {% for c in token.courses %}
                            <option class="form-control" value="{{c.course}}/{{c.description}}/{{c.max_grade_point}}">{{c.course}} - {{c.description}}</option>
                          {% endfor %}
                        </select> </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Due Date:</label>
                        <input type="date" class="form-control" id="duedate" name="duedate" required> </div>
                    <div class="form-group">
                        <label for="message-text" class="control-label">Instructions:</label>
                        <textarea class="form-control" id="description" name="description" required></textarea>
                    </div>
                    <div class="form-group">
                        <h5 class="box-title">Assign Task to Students (hold down the CTRL-key to select multiple)</h5>
                        <select name="students" multiple='multiple' class="col-sm-12" required>
                          {% for u in token.users %}
                            {% if u.role != 'Admin' %}
                                <option value='{{u.email}}/{{u.firstname}}/{{u.lastname}}'>{{u.firstname}} {{u.lastname}}</option>
                            {% endif %}
                          {% endfor %}
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Task</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- /.modal-->
{% endblock %}
